<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="Utf-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />
<title>Menu</title>
</head>
<body>
	<div class="navbar navbar-inverse">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li><a>Acceuill</a></li>
				<li><a>About</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a>logout</a></li>
			</ul>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">bonjour</div>
			<div class="panel-body">
			désoler Ilya pas de function grace nous concontate on partit sécurité et authentification et quelque crud
			tester cet url :
			<ul>
			<li>http://localhost:8088/getLogedUser</li>
			<li>http://localhost:8088/saveEtudiant?nom=x&prenom=y</li>
			<li>http://localhost:8088/etudiants</li>
			<li>http://localhost:8088/addUser?username=haythem&password=haythem</li>
			<li>http://localhost:8088/findUsers?page=1&size=2</li>
			<li>http://localhost:8088/addRole?role=ADMIN</li>
			<li>http://localhost:8088/addRoleToUser?username=haythem&role=ADMIN</li>
			</ul>
			</div>
		</div>
	</div>


	<footer class="navbar-fixed-bottom text-center py-3">
		<div class="container">
			<p>Copyright@JEBEL</p>
		</div>
	</footer>
</body>
</html>